.card-image {
    max-block-size: 100% !important;
}
.card-image img {
    min-block-size: 300px;
}

.card-image .card-title {
    display: flex;
    align-items: center;
    inline-size: 100%;
}
.card-image .card-title i{
    right: 0;
    position: absolute;
    margin-right: 15px;
}